.profile-container {
    justify-items: center;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 20px;
    row-gap: 20px;
    background-color: #0e142e;
    padding: 20px 40px 30px 40px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.profile-block {
    padding: 5px 20px 20px 20px;
    text-align: center;
    background-color: #18224f;
    width: 250px;
    border-radius: 20px;
    margin-top: 10px;
}